[Desktop Entry]
Comment=Search and launch actions from Bazzite Portal
Icon=io.github.ublue_os.yafti_gtk
Name=Bazzite Portal Actions
Type=Service
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=yafti
X-KDE-ServiceTypes=Plasma/Runner
